/* Fondo general */
.background {
  position: fixed; /* Fijo para ocupar siempre toda la pantalla */
  width: 100%;
  height: 100%;
  overflow: hidden; /* Elimina el scroll */
}

/* Encabezado personalizado */
.headercustom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

/* Imagen de fondo */
.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

/* Capa de superposición */
.overlay {
  background: rgba(0, 0, 0, 0.6);
  /* Más oscuro para resaltar contenido */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* Contenido centrado */
.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  color: white;
}

.logo {
  width: 100px;
  /* Tamaño del logo */
  height: auto;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 5px 0;
}

.live-label {
  background: red;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin: 15px auto;
  display: inline-block;
  font-size: 1.2rem;
}

.play-button {
  --background: transparent;
  --color: white;
  font-size: 4rem;
  transition: transform 0.2s ease-in-out;
}

.play-button:hover {
  transform: scale(1.1);
  /* Aumento del tamaño al pasar el mouse */
}


/* Botones sociales */
.social-buttons-colored {
  position: absolute;
  bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  z-index: 3;
}

.social-buttons-colored ion-button {
  --background: white;
  --color: #3b5998;
  /* Azul predeterminado para Facebook */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.social-buttons-colored ion-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

/* Colores específicos para cada red social */
.social-buttons-colored ion-button:nth-child(1) {
  --color: #3b5998;
  /* Facebook */
}

.social-buttons-colored ion-button:nth-child(2) {
  --color: #E1306C;
  /* Instagram */
}

.social-buttons-colored ion-button:nth-child(3) {
  --color: #25D366;
  /* WhatsApp */
}

.social-buttons-colored ion-button:nth-child(4) {
  --color: #010101;
  /* TikTok */
}

.social-buttons-colored ion-button:nth-child(5) {
  --color: #21759b;
  /* WordPress */
}

/* Footer */
.footer {
  --background: rgba(0, 0, 0, 0.8);
  /* Fondo semitransparente */
  color: white;
  text-align: center;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}

/* Animación */
@keyframes breathing {
  0% {
    transform: scale(1);
    /* Estado normal */
  }

  50% {
    transform: scale(1.1);
    /* Aumento del tamaño (inhalación) */
  }

  100% {
    transform: scale(1);
    /* Vuelve al tamaño normal (exhalación) */
  }
}

@keyframes aurora {
  0% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.3);
    /* Resplandor más pequeño */
  }

  50% {
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.8), 0 0 80px rgba(255, 255, 255, 0.5);
    /* Resplandor más fuerte */
  }

  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.3);
    /* Vuelve al resplandor inicial */
  }
}



.custom-content-header {
  background-color: rgba(0, 0, 0, 0.8);
  /* Fondo oscuro con opacidad */
  color: white;
  padding: 3px 0;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: sticky;
  top: 0;
  z-index: 10;
}

.custom-content-header ion-toolbar {
  --background: transparent;
  /* Fondo transparente para toolbar */
}

.custom-content-header ion-title {
  font-size: 18px;
  font-weight: bold;
  color: white;
  /* Texto blanco para el título */
}

.custom-content-header ion-buttons ion-button {
  color: white;
  /* Asegurarse de que los botones también sean blancos */
}

.logo-container {
  width: 150px;
  /* Tamaño del contenedor del logo */
  height: 150px;
  /* Tamaño del contenedor del logo */
  background-color: white;
  /* Fondo blanco */
  border-radius: 50%;
  /* Hace que el contenedor sea circular */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* Centra el contenedor */
  padding: 10px;
  /* Un poco de padding para que el logo no quede pegado al borde */
  margin-bottom: 15px;
  /* Espacio debajo del logo */
  animation: breathing 2s ease-in-out infinite, aurora 3s ease-in-out infinite;
  /* Animación de respiración y aurora */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.3);
  /* Aurora inicial */
}

.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}