<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>RADIO FUEGO 99.1 FM</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="share-social"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <img src="assets/micro.jpg" alt="Micrófono" class="background-image" />
    <div class="overlay"></div>
    <div class="content">
      <img src="assets/LOGO_f.png" alt="Logo RADIO FUEGO 99.1 FM" class="logo" />
      <h2>99.1 FM</h2>
      <p>Desde Zaruma – El Oro</p>
      <!-- Botón de reproducción -->
      <ion-button fill="clear" class="play-button" (click)="toggleRadio()">
        <ion-icon [name]="isPlaying ? 'pause-circle' : 'play-circle'"></ion-icon>
      </ion-button>
    </div>
    <div class="social-buttons">
      <ion-button fill="clear" href="https://www.facebook.com/HMfuego991fm" target="_blank">
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button fill="clear" href="https://www.instagram.com/hmradiofuego/" target="_blank">
        <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button fill="clear" href="https://api.whatsapp.com/send/?phone=593997047035&text&type=phone_number&app_absent=0" target="_blank">
        <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
      </ion-button>
      <ion-button fill="clear" href="https://www.tiktok.com/@hmradiofuego" target="_blank">
        <ion-icon slot="icon-only" name="logo-tiktok"></ion-icon>
      </ion-button>
      <ion-button fill="clear" href="https://hmradiofuego.com/portal/" target="_blank">
        <ion-icon slot="icon-only" name="logo-wordpress"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
