<ion-content>
  <!-- Header dentro del contenido -->
  <div class="custom-content-header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>RADIO FUEGO 99.1 FM</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="shareApp()">
          <ion-icon name="share-social"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <div class="background">
    <img src="assets/micro.jpg" alt="Micrófono" class="background-image" />
    <div class="overlay"></div>
    <div class="content">
      <div class="logo-container">
        <img src="../../assets/icon/fuego.png" alt="Logo RADIO FUEGO 99.1 FM" class="logo" />
      </div>
      <h2>99.1 FM</h2>
      <p>Desde Zaruma – El Oro</p>

      <div class="live-label">EN VIVO</div>

      <div class="player-controls">
        <ion-button fill="clear" class="play-button" (click)="toggleRadio()">
          <ion-icon [name]="isPlaying ? 'pause-circle' : 'play-circle'"></ion-icon>
        </ion-button>
      </div>

    </div>

    <div class="social-buttons-colored">
      <ion-button fill="clear" href="https://www.facebook.com/HMfuego991fm" target="_blank">
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button fill="clear" href="https://www.instagram.com/hmradiofuego/" target="_blank">
        <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button fill="clear"
        href="https://api.whatsapp.com/send/?phone=593997047035&text&type=phone_number&app_absent=0" target="_blank">
        <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
      </ion-button>
      <ion-button fill="clear" href="https://www.tiktok.com/@hmradiofuego" target="_blank">
        <ion-icon slot="icon-only" name="logo-tiktok"></ion-icon>
      </ion-button>
      <ion-button fill="clear" href="https://hmradiofuego.com/portal/" target="_blank">
        <ion-icon slot="icon-only" name="logo-wordpress"></ion-icon>
      </ion-button>
    </div>
  </div>


  <!--  <ion-footer>
      <ion-toolbar class="footer">
        <ion-title class="footer-title">RADIO FUEGO 99.1 FM</ion-title>
      </ion-toolbar>
    </ion-footer> -->
</ion-content>